.indicator-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 4%;
}

.ratings-btn_wrapper {
  padding: 0;
}

.indicator-card {
    max-width: 1400px;
    width: 48.5%;
    margin-top: 20px;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .indicator-card h1 {
    font-size: 42px;
    font-weight: 500;
    line-height: 50px;
  }
  
  .indicator-card p {
    font-weight: 600;
    line-height: 20px;
  }
  .subject-text{
    width: 60%;
  }
  .indicies{
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
@media screen and (max-width:900px) {
    .indicator-card {
      width: 100%;
    }
  }
@media (max-width:760px){

    .indicator-card h1 {
        font-size: 35px;
        font-weight: 500;
        line-height: 45px;
      }
  }


@media (max-width:600px){
    .indicator-card  .subject-text p {
        font-weight: 400;
        font-size: 14px;
    }

  }


@media (max-width:500px){
    .indicator-card  .subject-text p {
        font-weight: 400;
        font-size: 14px;
    }
    .indicies p{
      font-weight: 600;
        font-size: 40px;
    }
    .subject-text{
      width: 70%;
    }
    .indicator-card h1 {
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
    }
  }