{% extends 'base.html'%}
{% load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/ratings.css'%}">
<div class="container">
    <div class="indicator-card">
        <div class="subject-text">
            <h1>SMM</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="indicies">
            <p>60%</p>
        </div>
    </div>
    <div class="indicator-card">
        <div class="subject-text">
            <h1>Front-end</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="indicies">
            <p>75%</p>
        </div>
    </div>
    <div class="indicator-card">
        <div class="subject-text">
            <h1>Back-end</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="indicies">
            <p>80%</p>
        </div>
    </div>
    <div class="indicator-card">
        <div class="subject-text">
            <h1>Roboto-texnika</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="indicies">
            <p>60%</p>
        </div>
    </div>
</div>



{% endblock content %}