{% extends 'base.html'%}
{% load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/ratings.css'%}">
<div class="container">
    <div class="row indicator-wrapper">
        {% for rating in ratings %}
        <div class="indicator-card col-sm-10 col-md-5 ">
            <div class="subject-text">
                <h1>{{rating.stack}}</h1>
                <p>{{rating.text}}</p>
            </div>
            <div class="indicies">
                <p>{{rating.rating}}%</p>
            </div>

        </div>
        {% endfor %}

        <!-- <div class="col-sm-10 col-md-5 ratings-btn_wrapper">
            <button onclick="user_actived()" class="button-light mb-4  mt-4" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Bepul
                sinov
                darsiga
                yozilish</button>
        </div> -->
        <div class="modal fade login-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button class="cross" data-bs-dismiss="modal" aria-label="Close"><img
                        src="{% static 'assets/icons/cross.svg' %}" alt=""></button>
                <h4 class="text-center">Qabul qilindi !</h4>
                <p class="text-center">Tez orada siz bilan ko’rsatilgan raqam orqali bog’lanishadi.
                    Agar siz bilan bog’lanishmasa <a href="">mana bu</a> manzilga telegram
                    orqali
                    yozing.
                </p>

            </div>
        </div>
    </div>
    </div>
</div>

<script>
    function user_actived() {
        let url = '/user_actived/'
        fetch(url).then(
            console.log('ok')
        ).catch(error => (console.error(error)));
    }
</script>


{% endblock content %}