{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container center-screen">
    <div class="card text-center mt-3 shadow border w-70" style="width: 350px;">
        <form action="{% url 'quiz:access_phonenumber' %}" method="post">
            {% csrf_token %}
            <div class="card-header h5 text-white bg-primary">Telefon raqamni tasdiqlash</div>
            <div class="card-body px-5">
                {% if sms %}
                <p class="card-text py-2">
                <h4><b>{{phone_number}}</b></h4> raqamingizga yuborilgan tasdiqlash kodini kiriting
                </p>
                <div class="form-outline">                   
                    <input type="text" name="access_code" id="text" class="form-control my-3" placeholder="Yuborilgan kodni kirirting" />
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-2">Tasdiqlash</button>
                {% else %}
                <p class="card-text py-2">
                <h4><b>{{phone_number}}</b></h4> raqam tarmoqda mavjud emas, iltimos, boshqa raqam kiritng
                </p>
                {% endif %}
                <div class="d-flex justify-content-between mt-4">
                    <a class="access" href="{% url 'quiz:change_phonenumber' phone_number %}">Raqamni almashtirish</a>
                    {% if sms %}
                    <a class="" href="{% url 'quiz:repeat_access_password' %}">Qayta yuborish</a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock content %}