{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="quiz-wrapper">
        <div class="quiz-info_wrapper">
            <!-- Quiz header -->
            <div class="d-flex justify-content-between align-items-center mt-5">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center h4">{{title}} #{{question.order}}</h4>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <img src="{% static './assets/icons/Group.svg' %}" alt="">
                    <h4 class="h4 mx-2 my-3"><span id="minutes"></span>:<span id="seconds"></span></h4>
                </div>
            </div>
            <!-- Questions -->

            <div class="d-flex justify-content-center align-items-center my-5">
                <div class="answer_list">
                    <h4 class="text-center fw-bold h4" name="{{question.order}}" >{{question.label.html|safe}}</h4>
                    {% if question.image %}
                    <img src="{{question.image.url}}" class="img-fluid"c>
                    {% endif %}
                    {% for answer in answers %}
                    <div class="d-flex justify-content-start px-2 gap-2" id="{{answer.id}}">
                        <button class="answer "><i></i><span class="fw-bolder"></span></button>
                        <p class="w-75 fw-bolder p">{{answer.text}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- question footer -->
            <div class="d-flex align-items-center justify-content-between progress_wrapper">
                <div class="d-flex align-items-center progress_bar_wrapper">
                    <div id="progress">
                        <span id="progress_bar" style="width: {{proggress}}%"></span>
                    </div>
                    <span class="px-2">{{question.order}}/{{question_count}}</span>
                </div>

                <form action="{% url 'quiz:nex_question' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="question" value="{{question.order}}" class="form-control d-none">
                       

                    <input type="text" name="answer" id="true_answer" class="form-control d-none">
                       

                    <input type="text" name="clock" id="clock" value="{{clock}}" class="form-control d-none">
                     
                    <input type="text" name="password" id="password" value="{{password}}" class="form-control d-none">
                      

                    <button type="submit" class="button-success  mx-2 d-none-btn d-flex justify-content-end mb-4"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">Davom etish
                    </button>

                </form>
            </div>

        </div>
    </div>
</div>
<script src="{% static 'assets/js/quiz.js' %}"></script>
{% endblock %}